#body
{
	background-color: blue;
}
#main
{
    /* align-items: center; */
background-color: green;
    margin-left: 42%;
    margin-top: 50;
    margin-right: 38%;
}
#bolly, #holly
{
    background-color: yellow;
    height: 85px;
    width: 250;
    /* padding: 30; */
    border-radius: 10px;
}